* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #ef3b3a;
  --secondary: #f69139;
  --tertiary: #fcd15a;
  --fourth: #612c20;
  --fifth: #fbede7;
}
body {
  background-color: var(--fifth);
}
h1 {
  font-family: "Galada";
  color: var(--secondary);
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  text-align: center;
}
h2 {
  font-family: "Borel";
  color: var(--secondary);
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  text-align: center;
}
a {
  text-decoration: none;
}
